.App {
    text-align: center;
}

.header {
    background: rgb(242, 240, 253);
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: start;
    font-size: 2rem;
    color: rgb(161, 154, 173);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header-icon {
    background: url(./svg/space.svg);
    width: 48px;
    height: 48px;
    margin: 0 20px 0 10px;
    filter: grayscale(0.9);
}

.date-form {
    border-bottom: 5px solid rgba(128, 128, 128, 0.055);
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5vw;
}

.img-container {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.315);
    margin: 10px;
    border-radius: 5px;
    background: rgb(242, 240, 253);
}

.img img {
    border: 2px solid rgb(242, 240, 253);
    border-bottom: none;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    background: rgb(230, 230, 230);
    cursor: pointer;
}
.img img:hover {
    transform: scale(0.99);
}

.img-footer {
    min-height: 25px;
    padding: 5px 3px;
    width: 300px;
}
.date-img {
    color: rgb(84, 83, 87);
}
.post-interface {
    display: flex;
    justify-content: space-between;
}

.like {
    margin: 2px;
    cursor: pointer;
}

.like div {
    background-image: url('./svg/loon-icon.svg');
    height: 30px;
    width: 30px;
    filter: grayscale(1);
}
.like .active {
    filter: none;
}

.like div:hover {
    transform: scale(1.1);
}

.like-share {
    display: flex;
}

.share {
    margin: 2px;
    cursor: pointer;
}

.share div {
    background-image: url('./svg/share.svg');
    height: 30px;
    width: 30px;
}

.share div:hover {
    transform: scale(1.1);
}

.post-modal {
    height: 82vh;
    width: 88vw;
    display: inline-flex;
    overflow: hidden;
}

.modal-img img {
    display: flex;
    height: 82vh;
    width: 68vw;
    justify-content: flex-start;
    object-fit: cover;
    object-position: center;
    background: rgb(34, 34, 36);
}

.post-title {
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.post-explanation {
    font-size: 0.8em;
    width: 90%;
    height: 85%;
    padding: 0 10px;
    margin: 5px;
    text-align: center;
    overflow-y: auto;
    font-style: italic;
}

.modal-footer .img-footer {
    width: 19vw;
}

.modal-footer {
    border: 2px solid rgba(139, 139, 143, 0.342);
    border-radius: 5px;
    text-align: center;
    width: 19.5vw;
    height: 81.5vh;
}

.share-modal {
    /* display: flex; */
    min-height: 20vh;
    padding: 4px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.share-modal > div {
    border: 2px solid rgba(122, 122, 122, 0.226);
    padding: 15px 15px 20px 15px;
    border-radius: 5px;
}
.share-modal .post-link {
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(55, 53, 58, 0.356);
    border-radius: 5px;
    background: rgba(55, 53, 58, 0.096);
    display: flex;
}

.share-modal .post-link .link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.copy-link {
    background-image: url('./svg/copy.svg');
    height: 20px;
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.copy-link:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .post-modal {
        height: 82vh;
        width: 88vw;
        display: block;
    }

    .modal-img img {
        display: block;
        height: 60vh;
        width: 88vw;
    }

    .modal-footer .img-footer {
        width: 87vw;
    }
    .modal-footer .img-footer .post-interface {
        width: 84vw;
        padding: 5px;
    }
    .modal-footer {
        width: 86.5vw;
        height: 25.5vh;
    }

    .share-modal {
        min-height: 20vh;
        padding: 4px;
    }
    .share-modal > div {
        border: 2px solid rgba(122, 122, 122, 0.226);
        padding: 15px 15px 20px 15px;
        border-radius: 5px;
    }
    .share-modal .post-link {
        margin: 3px;
        padding: 3px;
    }

    .share-modal .post-link .link {
        font-size: 1rem;
    }
}
